.ID{
    align-items: baseline !important;
}
.ids p{
    font-size: 14px !important;
}
.views p{
  font-size: 10px !important;
  align-items: center;
  text-align: center !important;
}
.name p{
    font-size: 13px !important;
}
.viewBtn button{
    /* border: 2px solid; */
    padding: 3px 35px !important;
    border-radius: 15px !important;
    background-color: red;
    outline: none !important;
    border: none !important;
}
.viewBtn button a{
    text-decoration: none !important;
    color: white;

}
@media (min-width: 768px) {
    
}


@media screen and (min-width:992px) {
    .div-5 {
    width: 20% !important;
    }
    }
