<div class="container footerBar" style="z-index: 15 !important;">
    <div class="home " routerLink="/homepage"  [routerLinkActive]="['home-active']">
        <i class="fa-solid fa-house" style=""></i>
        <span class="footer-name">Home</span>
    </div>
    <div class="home" routerLink="/event-beforelogin"  [routerLinkActive]="['home-active']">
        <i class="fa-regular fa-calendar-days "></i>
        <span class="footer-name">Event</span>
    </div>
    <div class="home" routerLink="/search-tabs/quick-search" [routerLinkActive]="['home-active']">
        <i class="fa-solid fa-magnifying-glass"></i>
         <span class="footer-name">Search</span>
    </div>
    <div class="home" routerLink="/articles" [routerLinkActive]="['home-active']">
        <i class="fa-sharp fa-solid fa-newspaper"></i>
           <span class="footer-name">Articles</span>
    </div>
    <div class="home" routerLink="/profile" [routerLinkActive]="['home-active']">
        <i class="fa-sharp fa-regular fa-circle-user"></i>
          <span class="footer-name">Profile</span>
    </div>
</div>