<div class="container-fluid set-password-page">
    <div class="row">
  
      <div class="col-6 d-flex justify-content-center align-items-center verify-div">
        <form action="" [formGroup]="myForm" (ngSubmit)="submitPassword()" class="w-100 d-flex justify-content-center">
          
        <div class="col-8 set-password-form-container">
  
          <h1 class="mb-1 text-center heading-set-password" id="setpass">Set Password</h1>
  
          <p class="text-center mb-4">Please set the new password</p>
  
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter Password">
            <div *ngIf="myForm?.get('password')?.hasError('required') && myForm?.get('password')?.touched"
                 class="error-msg">
              Password is required.
            </div>
            <div *ngIf="myForm?.get('password')?.hasError('minlength') && myForm?.get('password')?.touched"
                 class="error-msg">
              Password must be at least 8 characters long.
            </div>
            <div *ngIf="myForm?.get('password')?.hasError('pattern') && myForm?.get('password')?.touched"
                 class="error-msg">
              Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character.
            </div>
          </div>
        
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Enter Password">
            <div *ngIf="myForm?.get('confirmPassword')?.hasError('passwordsMismatch') && myForm?.get('confirmPassword')?.touched"
                 class="error-msg">
              Passwords do not match.
            </div>
            <div *ngIf="myForm?.get('confirmPassword')?.hasError('required') && myForm?.get('confirmPassword')?.touched"
                 class="error-msg">
              Confirm Password is required.
            </div>
          </div>
          
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="isHuman" name="isHuman" formControlName="isHuman">
              <label class="form-check-label" for="isHuman">
                I am human
              </label>
            </div>
            <div *ngIf="myForm?.get('isHuman')?.hasError('requiredTrue') && myForm?.get('isHuman')?.touched"
                 class="error-msg">
              Please confirm that you are human.
            </div>
          </div>
      
    <!-- Error Message -->
          <div class="error-msg" *ngIf="isFormInvalid">Please Enter Valid Credentials</div>
  
          <!-- Submit Button -->
          <button class="btn btn-danger btn-block w-100" (click)="submitPassword()">Submit</button>
        </div>
      </form>
      </div>
  
      <div class="col-6 p-0 d-flex align-items-stretch image-div">
        <img src="../../../../assets/img/Rectangle 1885.png" alt="Set Password Image"
          class="img-fluid h-100 w-100 set-password-image">
      </div>
    </div>
  </div>
  