<div class="min-vh-100" style="overflow-x: hidden;">


<div class="banner"  style="margin-top: 0px;">
  <img src="../../../../../assets/img/HomePageBanner.png" width="100%"  alt="...">
</div>

<!-- <div style="height:10rem;background-color: rgb(237, 244, 244);margin-top: 20px;">

    <h4 class="center" >Articles</h4>


    <p>Home</p>>><p >Articles</p>



</div> -->
<div class="row">
  <div class="text-center pb-5 pt-5 mt-0 mt-sm-4 pink-color-head " >
    <h3 class="main-menu">Articles</h3>
    <p routerLink="/home">Home >> <span class="sub-menu">Articles</span> </p>
  </div> 
</div>



<!-- <div class="container ">
    <div class="row d-flex justify-content-center align-item-center p-4 gx-5">
      <div class="col-lg-4 col-md-6 col-sm-6 col-6 h-100"   >

        <div class="card text-center mt-4 mr-4"  style="gap: 1rem;"  >
            <img src="assets/img/04.png" height="230px" width="100%" class="card-img-top" alt="...">
            <div class="card-body" >
                <div class="row ">
                    <div class="col-sm-7  col-7">
                      <p class="card-subtitle mb-2 fontSize" style="text-align: justify;font-family: Lato;">25th October 2022</p>
                    </div>
                    <div class="col">
                       <p class="card-subtitle mb-2 justify-content-end fontSize" style="font-family: Lato">anubhandh</p>
                    </div>
                </div>
              <h2 class="card-title headingSize" style="text-align: justify;font-family: bold;font-weight: bolder;">Aim is to Reach My Goal With Best Plan</h2>
              <p class="card-text" style="text-align: justify;">Some quick example text to build on the card title and make up the bulk of the card's content.<span class="paraHide">Some quick example text to build on the card title and make up the bulk of the card's content.</span></p>

              <button type="button" routerLink="aarticle-detail"  class="btn btn-danger">>></button>
            </div>
          </div>

      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-6 h-100 mr-0">

        <div class="card text-center mt-4"  style="gap: 1rem;" >
            <img src="assets/img/05.png" height="230px" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="row">
                  <div class="col-7">
                    <p class="card-subtitle mb-2 fontSize" style="text-align: justify;font-family: Lato;">25th October 2022</p>
                  </div>
                  <div class="col">
                     <p class="card-subtitle mb-2 justify-content-end fontSize" style="font-family: Lato;">anubhandh</p>
                  </div>
              </div>
            <h5 class="card-title headingSize" style="text-align: justify;font-family: bold;font-weight: bolder;">Aim is to Reach My Goal With Best Plan</h5>
            <p class="card-text" style="text-align: justify;">Some quick example text to build on the card title and make up the bulk of the card's content.<span class="paraHide">Some quick example text to build on the card title and make up the bulk of the card's content.</span></p>

            <button type="button"  class="btn btn-danger">>></button>
          </div>
          </div>

      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-6 h-100">

        <div class="card text-center mt-4"  style="gap: 1rem;">
            <img src="assets/img/06.png" height="230px" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="row">
                  <div class="col-7">
                    <p class="card-subtitle mb-2 fontSize" style="text-align: justify;font-family: Lato;">25th October 2022</p>
                  </div>
                  <div class="col">
                     <p class="card-subtitle mb-2 justify-content-end fontSize" style="font-family: Lato;">anubhandh</p>
                  </div>
              </div>
            <h5 class="card-title headingSize" style="text-align: justify;font-family: bold;font-weight: bolder;">Aim is to Reach My Goal With Best Plan</h5>
            <p class="card-text" style="text-align: justify;">Some quick example text to build on the card title and make up the bulk of the card's content.<span class="paraHide">Some quick example text to build on the card title and make up the bulk of the card's content.</span></p>

            <button type="button"  class="btn btn-danger">>></button>
          </div>
          </div>

      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-6 h-100">

        <div class="card text-center mt-4"  style="gap: 1rem;">
            <img src="assets/img/07.png" height="230px" class="card-img-top" alt="..." >
            <div class="card-body">
              <div class="row">
                  <div class="col-7">
                    <p class="card-subtitle mb-2 fontSize" style="text-align: justify;font-family: Lato;">25th October 2022</p>
                  </div>
                  <div class="col">
                     <p class="card-subtitle mb-2 justify-content-end fontSize" style="font-family: Lato;">anubhandh</p>
                  </div>
              </div>
            <h5 class="card-title headingSize" style="text-align: justify;font-family: bold;font-weight: bolder;">Aim is to Reach My Goal With Best Plan</h5>
            <p class="card-text" style="text-align: justify;">Some quick example text to build on the card title and make up the bulk of the card's content.<span class="paraHide">Some quick example text to build on the card title and make up the bulk of the card's content.</span></p>

            <button type="button"  class="btn btn-danger">>></button>
          </div>
          </div>

      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-6 h-100">

        <div class="card text-center mt-4"  style="gap: 1rem;">
            <img src="assets/img/08.png" height="230px" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="row">
                  <div class="col-7">
                    <p class="card-subtitle mb-2 fontSize" style="text-align: justify;font-family: Lato;">25th October 2022</p>
                  </div>
                  <div class="col">
                     <p class="card-subtitle mb-2 justify-content-end fontSize" style="font-family: Lato;">anubhandh</p>
                  </div>
              </div>
            <h5 class="card-title headingSize" style="text-align: justify;font-family: bold;font-weight: bolder;">Aim is to Reach My Goal With Best Plan</h5>
            <p class="card-text" style="text-align: justify;">Some quick example text to build on the card title and make up the bulk of the card's content.<span class="paraHide">Some quick example text to build on the card title and make up the bulk of the card's content.</span></p>

            <button type="button"  class="btn btn-danger">>></button>
          </div>
          </div>

      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-6 h-100">

        <div class="card text-center mt-4"  style="gap: 1rem;">
            <img src="assets/img/09.png" class="card-img-top" height="230px" alt="...">
            <div class="card-body">
              <div class="row">
                  <div class="col-7">
                    <p class="card-subtitle mb-2 fontSize" style="text-align: justify;font-family: Lato;">25th October 2022</p>
                  </div>
                  <div class="col">
                     <p class="card-subtitle mb-2 justify-content-end fontSize" style="font-family: Lato;">anubhandh</p>
                  </div>
              </div>
            <h5 class="card-title headingSize" style="text-align: justify;font-family: bold;font-weight: bolder;">Aim is to Reach My Goal With Best Plan</h5>
            <p class="card-text" style="text-align: justify;">Some quick example text to build on the card title and make up the bulk of the card's content.<span class="paraHide">Some quick example text to build on the card title and make up the bulk of the card's content.</span></p>

            <button type="button"  class="btn btn-danger">>></button>
          </div>
          </div>

      </div>
    </div>


</div> -->




<div class=" container-fluid">
  <div class="d-flex justify-content-center row  mt-5 pl-3 pr-3"> 
  <div class="col-lg-4 col-12 col-md-6 card2 d-inline-block mb-3 mt-2 " style="max-width: 400px;" *ngFor="let cardObj of cards ">
  
  <div class="img2" class=" text-center  mr-4 border " style="gap: 1rem;"
    style="box-shadow: 0px 0px 15px #ffffff; width: 100%;">
    <div style="background-image: url({{cardObj.img}});
  background-size: cover;height:190px !important;background-position: center;"></div>
  
    <div class="card-body d-flex flex-column p-4" style="background-color: white;">
      <div class="row ">
        <div class="  d-flex  justify-content-between  col-12 ">
          
          <div class="col-auto p-0 ">
            <p class=" mb-2 " style="text-align: start;" style="font-size: 12px; font-weight: 600; color:#000000">
              {{cardObj.date}}
            </p>
          </div>
          <div class="col-auto p-0">
            <p class=" mb-2 " style="text-align: end;" style="font-size: 12px; font-weight: 600; color:#000000">
              {{cardObj.auther}}
            </p>
          </div>
        </div>
  
      </div>
      <span class="h5 text-start " style="font-weight: 700;">{{cardObj.title}}
      </span>
      <p class="" style="font-size: 12px; font-weight: 600; text-align: justify;">{{cardObj.description}}<span
          class="">Some
          quick example text to build on the card title and make up the bulk of the card's content.</span>
      </p>
  
      <button type="button" style="border-radius: 25px !important; padding: 1px 10px; width: 65px;"
        class="btn btn-danger  mt-auto align-self-center" routerLink="/articles"   (click)="onBtnClick(cardObj.id)"> > > </button>
    </div>
  
  </div>
  
  </div></div></div>

<div class="d-flex justify-content-center align-item-center  mt-5 mb-5">
  <button class="btn btn-danger my-2 my-sm-0 " style="border-radius: 3px !important;" type="button">View More</button>
 </div>
</div>

<p>Last para</p>
<br>