<div style="    background: #EEEEEE;">
    <div>
        <div class="banner" style="">
            <img src="../../../../../assets/img/HomePageBanner.png" width="100%" alt="...">

        </div>
    </div>
    <div class="container pb-5" *ngFor="let cardObj of cards">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="" style="box-shadow:15px 15px 25px 10px #cdcdcd;border-radius: 5px;">
                    <div style="padding: 10px;">
                        <img src="{{cardObj.img}}" width="100%" alt="">
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="row">
                    <div class="col-lg-10 col-md-10 p-4">
                        <div class="name d-flex justify-content-between ">
                            <div class="userName">
                                <h2>{{cardObj.name}}</h2>
                            </div>
                            <div class="ID">
                                <p>Anubandh ID <span style="color: #D93134 ; font-size: 25px;">:
                                        {{cardObj.id}}</span></p>
                            </div>
                        </div>
                        <div class="summury mt-2">
                            <p>I am a very open-minded, calm and caring person. 
                                I am passionate about sketching, travelling and listening to music. 
                                      
                        </div>
                        <div class="sharesMobileView  col-lg-2 col-md-2">
                            <div class="d-flex  align-items-center">
                                <i class="fa-solid fa-share-nodes mt-3"
                                    style="font-size: 25px;color: orange; cursor: pointer; margin-right: 25px;"></i>
                                <i class="fa-solid fa-print mt-3"
                                    style="font-size: 25px;color: orange; cursor: pointer;"></i>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-lg-12 col-md-12">
                                <div class="d-flex details mt-0">
                                    <div class="details-com" >
                                        <p class="items-i1">Age</p>
                                        <p class="items-i2"><b>{{cardObj.age}}</b></p>
                                    </div>
                                    <div class="details-com" >
                                        <p class="items-i1">Education</p>
                                        <p class="items-i2"><b>{{cardObj.education}}</b></p>
                                    </div>
                                    <div class="details-com" >
                                        <p class="items-i1">Occupation</p>
                                        <p class="items-i2"><b>{{cardObj.occupation}}</b></p>
                                    </div>
                                    <div class="details-com" >
                                        <p class="items-i1">Location</p>
                                        <p class="items-i2"><b>{{cardObj.location}}</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shares col-lg-2 col-md-2">
                        <div class="d-flex flex-column align-items-center">
                            <i class="fa-solid fa-share-nodes mt-3"
                                style="font-size: 25px;color: orange; cursor: pointer;"></i>
                            <i class="fa-solid fa-print mt-3"
                                style="font-size: 25px;color: orange; cursor: pointer;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row personalDetails mt-5 m-2" style="box-shadow: 15px 15px 25px 10px #cdcdcd;border-radius: 5px;">
            <div class="col-lg-12 col-md-12 personalDetailsDiv" style="padding: 25px 40px;">
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="detail-head"
                         style="color: #D93134; font-weight: 600;">Personal Details</div>
                    </div>
                    <div>
                        <button style="border: none; background: transparent; font-weight: 600;">Edit</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p  class="items-i1"  style="margin-bottom: 5px;">Marital Status</p>
                                <p  class="items-i2" ><b>{{cardObj.marital_status}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                <p  class="items-i1"  style="margin-bottom: 5px;">Height</p>
                                <p  class="items-i2" ><b>{{cardObj.height}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p  class="items-i1"  style="margin-bottom: 5px;">Gotra 1</p>
                                <p class="items-i2" ><b>{{cardObj.gotra1}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p  class="items-i1"  style="margin-bottom: 5px;">Gotra 2</p>
                                <p  class="items-i2" ><b>{{cardObj.gotra2}}</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p  class="items-i1"  style="margin-bottom: 5px;">Special Cases</p>
                                <p  class="items-i2" ><b>{{cardObj.special_cases}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p  class="items-i1"  style="margin-bottom: 5px;">Date Of Birth:</p>
                                <p  class="items-i2" ><b>{{cardObj.date_of_birth}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p  class="items-i1"  style="margin-bottom: 5px;">Blood Group</p>
                                <p  class="items-i2" ><b>{{cardObj.blood_group}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Annual income</p>
                                <p class="items-i2" ><b>{{cardObj.annual_income}}</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">email ID:</p>
                                <p class="items-i2" ><b>{{cardObj.email_id}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Candidate Mobile:</p>
                                <p class="items-i2" ><b>{{cardObj.candidates_mobile}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Parent's Mobile</p>
                                <p class="items-i2" ><b>{{cardObj.parents_number}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Mother Tongue</p>
                                <p class="items-i2" ><b>{{cardObj.mother_tongue}}</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Lifestyle Prefernces</p>
                                <p class="items-i2" ><b>{{cardObj.lifestyle}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row photos&videos mt-5 m-2" style="box-shadow: 15px 15px 25px 10px #cdcdcd;border-radius: 5px;">
            <div class="col-lg-12 col-md-12 photosVideosDiv" style="padding: 25px 40px;">
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="detail-head" style="color: #D93134; font-weight: 600;">Photos & Videos</div>
                    </div>
                    <div>
                        <button style="border: none; background: transparent; font-weight: 600;">Edit</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row image-user">
                            <div  class=" text-center ml-0 "
                            style="background-image: url('../../../../assets/img/Group\ 21230.png');background-position:center;
                            background-repeat: no-repeat;
                            background-size: cover;border-radius: 1%;margin-top: 0px;margin-bottom: 20px;" >
                       </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-lg-6" style="height: 270px;">
                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/QVGwC-tywO4?si=WWHwKSJFhW7Lfl9w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row astro mt-5 m-2" style="box-shadow: 15px 15px 25px 10px #cdcdcd;border-radius: 5px;">
            <div class="col-lg-12 col-md-12 astroDiv" style="padding: 25px 40px;">
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="detail-head" style="color: #D93134; font-weight: 600;">Astro</div>
                    </div>
                    <div>
                        <button style="border: none; background: transparent; font-weight: 600;">Edit</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Birth Name</p>
                                <p class="items-i2" ><b>{{cardObj.birth_name}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                <p class="items-i1"  style="margin-bottom: 5px;">Birth Place</p>
                                <p class="items-i2" ><b>{{cardObj.birth_place}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Time of Birth</p>
                                <p class="items-i2" ><b>{{cardObj.time_of_birth}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row FamilyDetails mt-5 m-2" style="box-shadow: 15px 15px 25px 10px #cdcdcd;border-radius: 5px;">
            <div class="col-lg-12 col-md-12 FamilyDetailsDiv" style="padding: 25px 40px;">
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="detail-head" style="color: #D93134; font-weight: 600;">Family Details</div>
                    </div>
                    <div>
                        <button style="border: none; background: transparent; font-weight: 600;">Edit</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Father's first name</p>
                                <p class="items-i2" ><b>{{cardObj.father_name}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                <p class="items-i1"  style="margin-bottom: 5px;">Father's Occupation</p>
                                <p class="items-i2" ><b>{{cardObj.father_occupation}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Father's Education</p>
                                <p class="items-i2" ><b>{{cardObj.father_education}}</b></p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Mother's first name</p>
                                <p class="items-i2" ><b>{{cardObj.mother_name}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Mother's Occupation</p>
                                <p class="items-i2" ><b>{{cardObj.mother_occupation}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Mother's Education</p>
                                <p class="items-i2" ><b>{{cardObj.mother_education}}</b></p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Number of Brothers</p>
                                <p class="items-i2" ><b>{{cardObj.number_of_brother}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Brother & his spouse's Details</p>
                                <p class="items-i1" ><b>{{cardObj.brother_spourses}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Number of Sisters</p>
                                <p class="items-i2" ><b>{{cardObj.number_of_sister}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Sisters & his spouse's Details</p>
                                <p class="items-i2" ><b>{{cardObj.sister_spourses}}</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Diet Type</p>
                                <p class="items-i2" ><b>{{cardObj.diet_type}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-lg-12">
                        <div class="row d-flex maternalContainer" style="gap: 50px;">
                            <div class="col-lg-5 box1"
                                style=" background-color: #f0f0f0;box-shadow: 15px 15px 25px 10px #cdcdcd;border-radius: 5px;">
                                <div class="container1">
                                    <div class="div1">
                                        <div class="row">
                                            <div class="col-lg-6 mt-4">
                                                <p class="items-i1"  style="margin-bottom: 5px;">Maternal Family Full Name</p>
                                                <p class="items-i2" > <b>{{cardObj.father_name}}</b></p>

                                            </div>
                                            <div class="col-lg-6 mt-4">
                                                <p class="items-i1"  style="margin-bottom: 5px;">Maternal Family Mobile Number</p>
                                                <p class="items-i2" ><b>{{cardObj.father_occupation}}</b></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p class="items-i1"  style="margin-bottom: 5px;">Relation</p>
                                                <p class="items-i2" ><b>{{cardObj.father_education}}</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row div2" style="">
                                    <div class="">
                                        <p style="color: white;">Maternal Family</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 box1"
                                style="background-color: #f0f0f0;box-shadow: 15px 15px 25px 10px #cdcdcd;border-radius: 5px;">
                                <div class="container1">
                                    <div class="div1">
                                        <div class="row">
                                            <div class="col-lg-6 mt-4">
                                                <p class="items-i1"  style="margin-bottom: 5px;">Mediator's Full Name</p>
                                                <p class="items-i2" ><b>{{cardObj.father_name}}</b></p>

                                            </div>
                                            <div class="col-lg-6 mt-4">
                                                <p class="items-i1"  style="margin-bottom: 5px;">Mediator's Mobile Number
                                                </p>
                                                <p class="items-i2" ><b>{{cardObj.father_occupation}}</b></p>
                                            </div>
                                        </div>
                                     
                                    </div>
                                </div>
                                <div class="row div2" style="">
                                    <div class="">
                                        <p style="color: white;">Mediator's Details</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row education mt-5 m-2" style="box-shadow: 15px 15px 25px 10px #cdcdcd;border-radius: 5px;">
            <div class="col-lg-12 col-md-12 educationDiv" style="padding: 25px 40px;">
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="detail-head" style="color: #D93134; font-weight: 600;">Education</div>
                    </div>
                    <div>
                        <button style="border: none; background: transparent; font-weight: 600;">Edit</button>
                    </div>
                </div>
                <hr>
                <div class="row" style="">
                    <div class="col-lg-12">
                        <div class="row eduDetails" style="gap: 50px;">
                            <div class="col-lg-5"
                                style="box-shadow: 15px 15px 25px 10px #cdcdcd;border-radius: 5px;padding: 15px;">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="items-i1"  class="mb-0"><b>MBA/PGDM information
                                                Technology</b></p>
                                        <p class="items-i2" >Indian Institute of Management(IIM)</p>
                                        <p class="items-i2" >2016-2018</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 "
                                style="box-shadow: 15px 15px 25px 10px #cdcdcd;border-radius: 5px; padding: 15px;">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="items-i1"  class="mb-0"><b>B.Tech Computer Science</b></p>
                                        <p class="items-i2" >Indian Institute of Technology(IIT)</p>
                                        <p class="items-i2" >2011-2015</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row occupation mt-5 m-2" style="box-shadow: 15px 15px 25px 10px #cdcdcd;border-radius: 5px;">
            <div class="col-lg-12 col-md-12 occupationDiv" style="padding: 25px 40px;">
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="detail-head" style="color: #D93134; font-weight: 600;">Occupation Details</div>
                    </div>
                    <div>
                        <button style="border: none; background: transparent; font-weight: 600;">Edit</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Birth Name</p>
                                <p class="items-i2" ><b>{{cardObj.birth_name}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                <p class="items-i1"  style="margin-bottom: 5px;">Birth Place</p>
                                <p class="items-i2" ><b>{{cardObj.birth_place}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Time of Birth</p>
                                <p class="items-i2" ><b>{{cardObj.time_of_birth}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row address mt-5 m-2" style="box-shadow: 15px 15px 25px 10px #cdcdcd;border-radius: 5px;">
            <div class="col-lg-12 col-md-12 addressDiv" style="padding: 25px 40px;">
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="detail-head" style="color: #D93134; font-weight: 600;">Address</div>
                    </div>
                    <div>
                        <button style="border: none; background: transparent; font-weight: 600;">Edit</button>
                    </div>
                </div>
                <hr>
                <div class="row mt-4">
                    <div class="col-lg-12">
                        <div class="row d-flex maternalContainer" style="gap: 50px;">
                            <div class="col-lg-5 box1 ml-3 mt-3"
                                style=" background-color: #f0f0f0;box-shadow: 15px 15px 25px 10px #cdcdcd;border-radius: 5px;">
                                <div class="container1">
                                    <div class="div1">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6  mt-4">
                                                <p class="items-i1"  style="margin-bottom: 5px;">Country</p>
                                                <p class="items-i2" ><b>{{cardObj.father_name}}</b></p>

                                            </div>
                                            <div class="col-lg-6 col-md-6 mt-4">
                                                <p class="items-i1"  style="margin-bottom: 5px;">State</p>
                                                <p class="items-i2" ><b>{{cardObj.father_occupation}}</b></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p class="items-i1"  style="margin-bottom: 5px;">City</p>
                                                <p class="items-i2" ><b>{{cardObj.father_education}}</b></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p class="items-i1"  style="margin-bottom: 5px;">Address 1</p>
                                                <p class="items-i2" ><b>{{cardObj.father_education}}</b></p>

                                            </div>
                                            <div class="col-lg-6">
                                                <p class="items-i1"  style="margin-bottom: 5px;">Address 2</p>
                                                <p class="items-i2" ><b>{{cardObj.father_education}}</b></p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row div2" style="">
                                    <div class="">
                                        <p style="color: white;">Permanent Address</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 box1 ml-3 mt-3"
                                style="background-color: #f0f0f0;box-shadow: 15px 15px 25px 10px #cdcdcd;border-radius: 5px;">
                                <div class="container1">
                                    <div class="div1">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6  mt-4">
                                                <p class="items-i1"  style="margin-bottom: 5px;">Country</p>
                                                <p class="items-i2" ><b>{{cardObj.father_name}}</b></p>

                                            </div>
                                            <div class="col-lg-6 col-md-6 mt-4">
                                                <p class="items-i1"  style="margin-bottom: 5px;">State</p>
                                                <p class="items-i2" ><b>{{cardObj.father_occupation}}</b></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p class="items-i1"  style="margin-bottom: 5px;">City</p>
                                                <p class="items-i2" ><b>{{cardObj.father_education}}</b></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 ">
                                                <p class="items-i1"  style="margin-bottom: 5px;">Address 1</p>
                                                <p class="items-i2" ><b>{{cardObj.father_education}}</b></p>

                                            </div>
                                            <div class="col-lg-6 ">
                                                <p class="items-i1"  style="margin-bottom: 5px;">Address 2</p>
                                                <p class="items-i2" ><b>{{cardObj.father_education}}</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row div2" style="">
                                    <div class="">
                                        <p style="color: white;">Current Address</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row partnerExpectation  mt-5 m-2" style="box-shadow: 15px 15px 25px 10px #cdcdcd;border-radius: 5px;">
            <div class="col-lg-12 col-md-12 partnerExpectationDiv" style="padding: 25px 40px;">
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="detail-head" style="color: #D93134; font-weight: 600;">Partner's Expectation</div>
                    </div>
                    <div>
                        <button style="border: none; background: transparent; font-weight: 600;">Edit</button>
                    </div>
                </div>
                <hr>
                <div class="row ">
                    <div class="col-lg-12">
                      
                   
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Age</p>
                                <p class="items-i2" ><b>{{cardObj.father_name}}</b></p>
                            </div>
                            <div class="col-lg-3  ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Partner's Minimum Height</p>
                                    <p class="items-i2" ><b>{{cardObj.father_occupation}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Partner's Qualification</p>
                                <p  class="items-i2" ><b>{{cardObj.father_education}}</b></p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Partner's Occupation</p>
                                <p class="items-i2" ><b>{{cardObj.father_education}}</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Partner's Annual income</p>
                                <p class="items-i2" ><b>{{cardObj.mother_name}}</b></p>
                            </div>
                            <div class="col-lg-3 ">
                                <p class="items-i1"  style="margin-bottom: 5px;">Prefer City</p>
                                <p class="items-i2" ><b>{{cardObj.mother_occupation}}</b></p>
                            </div>
                          

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>