<div class="container-fluid p-0">

<div class="white-shadow"></div>
  <!-- <div class="">
    <div class="col-12 d-flex justify-content-center p-0" style="height: 600px; background-image: url(../../../../assets/img/Rectangle\ 20.png); background-position: center; background-repeat: no-repeat; background-size: cover;">

      <div class="">

      </div>
      <img src="../../../../assets//img/ah_news_37345-removebg-preview-removebg-preview.png" class="" style="position: absolute; width: 100px; top: 20px; right: 30px;">
      <div class="col-9 d-flex  bg-white p-0" style="position: absolute;">
        <div class="col-6 d-flex justify-content-center p-1" style="border-bottom:5px solid rgb(241, 19, 56); " >Quick Search</div>
        <div class="col-6  d-flex justify-content-center p-1">Advanced Search</div>
      </div>
    </div>
  </div> -->
  <div class="custom-pagination">
    <div class="white-red-icon d-flex justify-content-center align-items-center prev-loc"><span class="prev"></span></div>
    <div class="white-red-icon d-flex justify-content-center align-items-center next-loc"> <span class="next"></span></div>
  </div>
  

  <div class="bg-img1" style="background-image: url(../../../../assets/img/Rectangle\ 20.png);">

    <div class="top-container">
      <div class="first-h col-12 pt-4 ">Your search for the perfect<br> match ends here!</div>
      <div class="second-h col-12 pt-2 ">nulla eleifend pulvinar purus, molestie<br>euismod odio emperdiet ac. Ut sit
        amet
        erat<br>
        nec nibh rhoncus varius is non lorem. Donec in

      </div>

    </div>
    <div class="col-10">

      <button class="btn btn-danger " id="register" type="button" routerLink="/registration">
        Register Now
      </button>

    </div>


    <div class="form-gen text-center">

      <div class="container   col-lg-9 p-0" id="main-form" style="box-sizing: border-box;
      box-shadow: 2px 2px rgb(255, 208, 250);
      background-color: white;">
        <img src="../../../../assets//img/ah_news_37345-removebg-preview-removebg-preview.png" class="bac-img">
        <div class="d-flex top">
          <div class="col-6 py-2 p-0" id="form-head">
            <span class="btn font-weight-bold  " routerLink="/search-tabs/quick-search">Quick Search</span>
          </div>

          <div class="col-6 py-2 p-0 " id="form-head">
            <span class=" btn " routerLink="/search-tabs/advance-search"
              [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{ exact: true }"
              style="background-color: transparent;border: none;box-shadow: none; color: rgb(61, 61, 61);">Advanced Search</span>
          </div>  
        </div>
        <div class="progress" style="height: 5px;  border-radius: 0px; ">
          <div class="progress-bar bg-danger" style="width: 50%;"></div>
        </div>
        <div class="">
          <div class="col-12 text-center px-4"><br>
            <form>
              <div class="form-group">

                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Email Id/Name/Surname" style="background-color: white;">
              </div>
             <div style="font-weight: 700; padding-bottom: 15px; padding-top: 5px;">OR</div> 
              
              <div class="d-flex  pb-1">
                <span class="label col-6 p-0 " style="font-weight: 500; text-align: left;">I am looking for</span>
                <span class="label col-6 " id="age" style="width: 85%;font-weight: 500;  text-align: left;">Age</span>
              </div>

              <div class=" row">
                <div class="col-6">
                  <select class="form-select " aria-label="Default select example">
                    <option selected>Bride</option>
                    <option value="3">Groom</option>
                  </select>
                </div>
                <div class="col-2">
                  <select class="form-select " aria-label="Default select example">
                    <option selected>Min Age</option>
                    <option value="1">19</option>
                    <option value="2">20</option>
                    <option value="3">21</option>
                    <option value="4">22</option>
                  </select>
                </div>
                <div class="col-2 ">
                  <select class="form-select " aria-label="Default select example">
                    <option selected>Max Age</option>
                    <option value="1">23</option>
                    <option value="2">24</option>
                    <option value="3">25</option>
                  </select>
                </div>
                <div class="col-2 p-0">
                  <button type="button" class="btn btn-success" routerLink="/search-result">Search</button>
                </div>
              </div><br>
            </form>
          </div>
        </div>
      </div>
    </div>


    <div class="form-gen1 text-center">
      <img src="../../../../assets//img/ah_news_37345-removebg-preview-removebg-preview.png" class="god-img">
      <div class="container col-lg-9 p-0" id="main-form">

        <div class="d-flex top">
          <div class="col-6 py-1 p-0" id="form-head">
            <span class="btn font-weight-bold  " routerLink="/search-tabs/quick-search">Quick Search</span>
          </div>

          <div class="col-6 py-1 p-0" id="form-head">
            <span class=" btn " routerLink="/search-tabs/advance-search"
              [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{ exact: true }"
              style="background-color: transparent;border: none;box-shadow: none; color: rgb(61, 61, 61);">Advanced Search</span>
          </div>  
        </div>
        <div class="progress" style="height: 5px; border-radius: 0px; ">
          <div class="progress-bar bg-danger" style="width: 50%;"></div>
        </div>
        <div class="">
          <div class="col-12 text-center px-sm-4 px-3">
            <form>
              <div class="form-group mb-0 mt-3">
                <input type="email" class="form-control email-11" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Email Id/Name/Surname" style="background-color: white;">
              </div>
              <div style="font-weight: 700; padding-bottom: 15px; padding-top: 15px;" class="or-class">OR</div> 
              <div class="d-flex  ">
                <span class="label col-0 pb-1" style="font-weight: 500;">I am looking for</span>


              </div>

              <div class=" row">
                <div class="col-lg-8">
                  <select class="form-select " aria-label="Default select example">
                    <option selected>Bride</option>
                    <option value="3">Groom</option>
                  </select>
                </div>
                <span class="label text-left pb-1 mt-2" id="age" style="font-weight: 500;">Age</span>
                <div class="col-6">
                  <select class="form-select " aria-label="Default select example">
                    <option selected>Min Age</option>
                    <option value="1">19</option>
                    <option value="2">20</option>
                    <option value="3">21</option>
                    <option value="4">22</option>
                  </select>
                </div>
                <div class="col-6">
                  <select class="form-select " aria-label="Default select example">
                    <option selected>Max Age</option>
                    <option value="1">23</option>
                    <option value="2">24</option>
                    <option value="3">25</option>
                  </select>
                </div>
                <div class="text-center mt-3 mb-3" >
                  <button type="button" class="btn btn-success search-button" style="background-color: #00801A;" routerLink="/search-result">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="img-bann " style="margin-top: 35px;">
    <img src="../../../../assets/img/HomePageBanner.png" style="width: 200%;" class="img-fluid" alt="Responsive image">
  </div>
 

  <div class=" text-center mt-3">
    <div class=" text-center">
      <h3 class=" mt-5 ">Premium Member</h3>
    </div>
    <div class="d-flex justify-content-center gap-3 mt-4 pl-2 pr-2">
      <div class="m-0 col p-0 d-flex justify-content-end " data-toggle="buttons">
        <label class="btn btn-danger m-0 col-lg-auto col-md-auto col-sm-12 col " style="width: 100px; border-radius: 4px; background-color: #D93134; color: white;">
          <input type="radio" name="options" id="bride"> Bride
        </label>
      </div>
      <div class="m-0 col p-0 d-flex justify-content-start  " data-toggle="buttons">
        <label class="btn btn-warning m-0 col-lg-auto col-md-auto col-sm-12 col"style="width: 100px;  border-radius: 4px; background-color:#F59C3B; color: white;">
          <input type="radio" name="options" id="groom"> Groom
        </label>
      </div>
    </div>
   


    <div id="demo2" class="carousel slide mt-1 " data-ride="carousel" data-interval="false">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo2" data-slide-to="0" class="active"></li>
        <li data-target="#demo2" data-slide-to="1"></li>
        <li data-target="#demo2" data-slide-to="2"></li>
      </ul>
      
      <!-- The slideshow -->
      <div class="container-fluid pb-2 carousel-inner no-padding" >
        <div class="carousel-item active">
          <div class="card-outer">
            <div class="row">
              <div class="col-lg-3  col-md-4  col-sm-4 col-6 " *ngFor="let cardObj of cards" routerLink="/profile-others"><br>
                <div class="card-sl" style="border-radius: 32px;">
      
                  <div class="card-image " style="border-radius: 32px;">
      
                    <div class="card-profile-image"
                      style="background-image: url('{{cardObj.img}}'); background-size: cover; background-repeat: no-repeat; background-position: center; width: 100%;    border-radius: 31px 31px 0px 0px;">
                    </div>
                    <div class="last-seen" style="background-color:#FFEAED">
                      {{cardObj.lastseen}}
                    </div>
                  </div>
      
                  <div class="card-heading-id text-left ">
                    ID: {{cardObj.id}} <i class="fa-solid fa-award" style="color: #ff881a;"></i>
                  </div>
                  <div class="card-text-all text-left" style="border-radius: 0px 0px 32px 32px; padding-bottom: 15px;">
                    <p class="profile-text-m">{{cardObj.name}} </p>
                    <p class="profile-text-m">{{cardObj.age}} , {{cardObj.address}}</p>
      
                    <p class="profile-text-m">{{cardObj.occupation}}</p>
      
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-outer">
            <div class="row">
              <div class="col-lg-3  col-md-4  col-sm-4 col-6 " *ngFor="let cardObj of cards" routerLink="/profile-others"><br>
                <div class="card-sl" style="border-radius: 32px;">
      
                  <div class="card-image " style="border-radius: 32px;">
      
                    <div class="card-profile-image"
                      style="background-image: url('{{cardObj.img}}'); background-size: cover; background-repeat: no-repeat; background-position: center; width: 100%;    border-radius: 31px 31px 0px 0px;">
                    </div>
                    <div class="last-seen" style="background-color: #FFEAED">
                      {{cardObj.lastseen}}
                    </div>
                  </div>
      
                  <div class="card-heading-id text-left ">
                    ID: {{cardObj.id}} <i class="fa-solid fa-award" style="color: #ff881a;"></i>
                  </div>
                  <div class="card-text-all text-left" style="border-radius: 0px 0px 32px 32px; padding-bottom: 15px;">
                    <p class="profile-text-m">{{cardObj.name}} </p>
                    <p class="profile-text-m">{{cardObj.age}} , {{cardObj.address}}</p>
      
                    <p class="profile-text-m">{{cardObj.occupation}}</p>
      
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-outer">
            <div class="row">
              <div class="col-lg-3  col-md-4  col-sm-4 col-6 " *ngFor="let cardObj of cards" routerLink="/profile-others"><br>
                <div class="card-sl" style="border-radius: 32px;">
      
                  <div class="card-image " style="border-radius: 32px;">
      
                    <div class="card-profile-image"
                      style="background-image: url('{{cardObj.img}}'); background-size: cover; background-repeat: no-repeat; background-position: center; width: 100%;    border-radius: 31px 31px 0px 0px;">
                    </div>
                    <div class="last-seen" style="background-color: #FFEAED">
                      {{cardObj.lastseen}}
                    </div>
                  </div>
      
                  <div class="card-heading-id text-left ">
                    ID: {{cardObj.id}} <i class="fa-solid fa-award" style="color: #ff881a;"></i>
                  </div>
                  <div class="card-text-all text-left" style="border-radius: 0px 0px 32px 32px; padding-bottom: 15px;">
                    <p class="profile-text-m">{{cardObj.name}} </p>
                    <p class="profile-text-m">{{cardObj.age}} , {{cardObj.address}}</p>
      
                    <p class="profile-text-m">{{cardObj.occupation}}</p>
      
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    
      <a class="carousel-control-prev" href="#demo2" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo2" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

   

    <!-- <div class="profile1 ml-3 mr-3" style="margin-top:50px;">
      <div class="row">
          <div class="col-md-3 " style="width: 50%;" *ngFor="let cardObj of cards"><br>
      <div class="card-sl" style="border-radius: 35px; " >
        <div class="card-image " style="border-radius: 35px;">
          <img
         src= {{cardObj.img}} />
         <div class="label text-success" style="background-color: rgb(255, 210, 255);">
          {{cardObj.lastseen}}
         </div>
        </div>    
        <div class="card-heading text-left ">
          ID: {{cardObj.id}} <i class="fa-solid fa-award" style="color: #ff881a;"></i>
          </div>
        <div class="card-text text-left">
          {{cardObj.name}}  <br>
          {{cardObj.age}} ,   {{cardObj.address}}
       </div>
       <div class="card-text text-left">
             {{cardObj.occupation}}
       </div>
       </div>
    </div>
    </div>
      </div>   -->

    
    <hr class="solid " style="margin-top: 4rem;padding-bottom: 1px;">
<div class="pt-1 pb-3"style="background-color: #F5F5F5;" >
    <div class="ss mt-5">
      <h3 class="tex-label4" >Select By Profession</h3>
    </div>
    <div class="container-fluid "style="background-color: #F5F5F5;">
    <div class="card-outer pl-5 pr-5" style="margin-top:50px;background-color: #F5F5F5;">
      <div class="row pl-4 pr-4" >
        <div class="col-lg-2 col-md-3 col-sm-4 col-6" *ngFor="let cardObj of cards2">
          <div class="bg-white"   
           style="box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);">
            <div class=" d-flex justify-content-start pl-3 pr-3 pt-3 ">
              <i class="fa-solid fa-user-doctor fa-4x" style="color: #ff3f3f;"></i>
            </div>
            <div class="card-text text-left pb-3 text-black ">
              <label class="label font-weight-bold">
                
                  <span style="font-weight: 700;">{{cardObj.work}}</span><br>
                <label class="label font-weight-bold text-muted">
                  {{cardObj.result}}
                </label></label>
            </div>

          </div> <br>
        </div>
      </div>
      <button type="button" class="btn btn-success mt-2" routerLink="/select-profession">Show More Profession</button>
    </div>
  </div></div>
    <!-- <div class="profile1 ml-3 mr-3" style="margin-top:50px;">
        <div class="row">
            <div class="col-md-2 " style="width: 33%;" *ngFor="let cardObj of cards2">
                <div class="card-sl ">
                    <div class="card-image d-flex justify-content-start pl-2  ">
                      <i class="fa-solid fa-user-doctor fa-4x" style="color: #db0000;"></i>
                     </div>
                    <div class="card-text text-left pb-5 text-black ">
                      <label class="label font-weight-bold">
                      <b>
                      {{cardObj.work}}</b><br>
                      <label class="label font-weight-bold text-muted">
                         {{cardObj.result}}
                    </label></label></div>
                  
                </div> <br>
            </div>
          </div>
          <button type="button" class="btn btn-success" routerLink="/select-profession">Show More Profession</button>
          </div> -->
    <br><br>


    <div class="images-1  justify-content-between justify-content-space  mt-5" style="gap: 1rem;">

      <img class="imag-add" src="../../../../assets/img/anubandh3.png" alt="flower" width="30%" />
      <img class="imag-add " src="../../../../assets/img/anubandh-1.png" alt="flower" width="30%" />
      <img class="imag-add" src="../../../../assets/img/anubandh-2.png" alt="flower" width="30%" />
    </div><br>

    <div class="mb-5 mt-5">
      <div class="  ">
        <h3>Articles</h3>
      </div>
      <div id="carousel" (keydown)="handleKeyboardEvent($event)" tabindex="0">

        <div class="col-auto card2" style="width: 350px;" *ngFor="let cardObj of cards3 ;let i = index"
          [ngClass]="getClass(i)">

          <div class="img2" class=" text-center  mr-4 border " style="gap: 1rem;"
            style="box-shadow: 0px 0px 15px #ffffff; width: 100%;">
            <div style="background-image: url({{cardObj.img}});
          background-size: cover;height:190px !important;background-position: center;"></div>

            <div class="card-body d-flex flex-column p-4" style="background-color: white;">
              <div class="row ">
                <div class="  d-flex  justify-content-start  col-12 ">
                  <p class=" mb-2 " style="text-align: start;" style="font-size: 12px; font-weight: 600; color:#dc3545">
                    {{cardObj.date}}
                  </p>
                </div>

              </div>
              <span class="h5 text-start " style="font-weight: 700;">{{cardObj.title}}
              </span>
              <p class="" style="font-size: 12px; font-weight: 600; text-align: justify;">{{cardObj.description}}<span
                  class="">Some
                  quick example text to build on the card title and make up the bulk of the card's content.</span>
              </p>

              <button type="button" style="border-radius: 25px !important; padding: 1px 10px; width: 65px;"
                class="btn btn-danger  mt-auto align-self-center" routerLink="/articles"> > > </button>
            </div>

          </div>

        </div>
        <div class="h-100 ">
          <button (click)="moveToSelected('prev')" style="position: relative;
              height: 100%;
              left: -44%;
              width: 100px;
              background-color: #fffcf94f;
              z-index: 20;
              border: none;"><i class="fa-solid fa-chevron-up fa-rotate-270"
              style="color: #D91046; background-color: white; border-radius: 50%; height: 30px; width: 30px;"></i>
          </button>
          <button (click)="moveToSelected('next')" style="position: relative;
    height: 100%;
    right: -44%;
    width: 100px;
    background-color: #fffcf94f;
    z-index: 20;
    border: none;
    
    "><i class="fa-solid fa-chevron-up fa-rotate-90  "
              style="color: #D91046; background-color: white; border-radius: 50%; height: 30px; width: 30px;"></i></button>
        </div>
      </div>

    </div>
    <div class="mt-5">
      <!-- background-image: url(../../../../assets//img/bg-img.png) ; -->
      <div class=" whyanubandh" style="margin-top:3rem;background-color: #f5f5f5">
        <div class=" mb-4">
        <h3>Why Anubandh</h3>
        </div>
        <div class="card-deck pl-4 pr-4 ">
          <div class="col-lg-3 col-md-6 col-sm-6 col d-flex justify-content-center mt-4 ">
            <div class="card-sl bg-white p-2 whycard" style="box-shadow: 0px 8px 18px #00000033;">
              <div class="d-flex justify-content-center align-items-cente" style="height: 5rem;padding-top: 30px;">
            <div class="  col-auto " style="height: 5rem; width:5rem; background-image: url(../../../../assets/clip-art/Path\ 3.svg) ;background-repeat: no-repeat; background-position: center; background-size: cover;">
          </div>
              </div>
              <div class="card-text text-center  bg-white " style="color: #D93134;padding-top: 40px;margin-bottom: 0px;">
                <h4  style="">
                    24+</h4>
                <label style="color: #D98231;" class="h5">Years of Trust</label>
              </div>
              <p class="text-center pl-3 pr-3 bg-white"> showed by the trust and love of our clients for the last 24
                years</p>


            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col d-flex justify-content-center mt-4">
            <div class="card-sl bg-white p-2 whycard" style="box-shadow: 0px 8px 18px #00000033;">
              <div class="d-flex justify-content-center align-items-cente" style="height: 5rem;padding-top: 30px;">
                <div class="  col-auto " style="height: 5rem;width: 5rem; background-image: url(../../../../assets/clip-art/Group\ 6706.svg) ;background-repeat: no-repeat;background-position: center; background-size: cover;">

                </div>
              </div>

              <div class="card-text card-inner text-center "style="color: #D93134; padding-top: 40px;margin-bottom: 0px;">
                <h4  style="">
                    10000+</h4>
                <label style="color:#D98231;" class="h5">Active Profile</label>
              </div>
              <p class="text-center pl-3 pr-3 "> Also new profile registerd every hour increase chances of meeting your
                soulmate</p>



            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col  d-flex justify-content-center  mt-4  ">
            <div class="card-sl bg-white whycard p-2" style="box-shadow: 0px 8px 18px #00000033;">
              <div class="d-flex justify-content-center align-items-cente" style="height: 5rem;padding-top: 30px;">
                <div class="  col-auto " style="height: 5rem;width: 5rem; background-image: url(../../../../assets/clip-art/Path\ 10.svg) ;background-repeat: no-repeat;background-position: center; background-size: cover;">

                </div>
              </div>

              <div  class="card-text text-center" style="color: #D93134;padding-top: 40px;margin-bottom: 0px;">
                <h4 style="">
                    5000+</h4>
                <label style="color: #D98231;" class="h5">Member visit Everyday</label>
              </div>
              <p class="text-center  pl-3 pr-3"> Thousands of member visiting every day & searching their life partner
                here.</p>


            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col d-flex justify-content-center  mt-4 ">
            <div class="card-sl bg-white whycard p-2" style="box-shadow: 0px 8px 18px #00000033;">
              <div class="d-flex justify-content-center align-items-cente" style="height: 5rem;padding-top: 30px;">
                <div class="  col-auto " style="height: 5rem;width: 5rem; background-image: url(../../../../assets/clip-art/Path\ 11.svg) ;background-repeat: no-repeat;background-position: center; background-size: cover;">
                </div>
              </div>
              <div class="card-text text-center  "style="color: #D93134; padding-top: 40px;margin-bottom: 0px;">
                <h4  style="">
                    500+</h4>
                <label style="color:#D98231;" class="h5">Succesfull Marriages</label>
              </div>
              <p class="text-center  pl-3 pr-3"> Thousands have found their soulmate. Now you can be the next here. </p>

            </div>
          </div>
        </div>
      </div>
      <div class="text-center p-5 mt-5">
        <br>
        <h3 class="">About Anubandh</h3>
        <p class="pt-3"> Anubandh was incepted in 2007 by like minded youth of the community towards larger good of the
          society,
          leveraging a technology platform. The team started providing free and consistent service from first year
          itself
          to prospective brides and grooms helping cross section of community, which has been appreciated by all.</p>
        <br>
      </div>
      <br>
      <h3 style="text-decoration: underline ;text-decoration-color: #D91046;text-underline-offset: 0.3em;"
        class="">Core Team</h3><br>
      <div class="container" style="box-shadow: none;">
        <div class="core-team">
          <div class="row">
            <div class="col-sm">
              <p class="h4 font-weight-bold" style="color: #dc3545;">Shailesh Kashettiwar</p>
              <p class="h5" style="color:rgb(255, 162, 0);">Social Outreach</p>
            </div>
            <div class="col-sm">
              <p class="h4 font-weight-bold" style="color: #dc3545;">S.D. chiddarwar</p>
              <p class="h5" style="color:rgb(255, 162, 0);">Technology Brains</p>
            </div>
            <div class="col-sm">
              <p class="h4 font-weight-bold" style="color: #dc3545;">Akshay A. Bhaskarwar</p>
              <p class="h5" style="color:rgb(255, 162, 0);">Technology Brains</p>
            </div>
          </div><br>
          <div class="row mt-3">
            <div class="col-sm">
              <p class="h4 font-weight-bold" style="color: #dc3545;">N.A. Bhaskarwar</p>
              <p class="h5" style="color:rgb(255, 162, 0);;">Technology Brains</p>
            </div>
            <div class="col-sm">
              <p class="h4 font-weight-bold" style="color: #dc3545;">R.S. Kashettiwar</p>
              <p class="h5" style="color:rgb(255, 162, 0);">Technology Brains</p>
            </div>
            <div class="col-sm">
              <p class="h4 font-weight-bold" style="color: #dc3545;">Kishor Birewar</p>
              <p class="h5" style="color:rgb(255, 162, 0);">Communication and Service</p>
            </div>
          </div>

        </div>

        <div class="core-team-1 ml-3 mr-3" style="margin-top:15px;">
          <div class="row">
            <div class="col-md-2" style="width: 50%;" *ngFor="let cardObj of cards5">
              <div class="card-sl bg-white  " style=" min-height: 275px;">
                <div class="card-image d-flex justify-content-center pl-1  ">
                  <img src={{cardObj.img}} style="margin-top: 20px;width: 50%; border-radius: 50%;" />
                </div>
                <div class="card-text text-center  text-danger" style="border-radius: 8px;">
                  <label class="label">
                    <b>
                      {{cardObj.name}}</b><br>
                    <label class="label text-warning">
                      {{cardObj.position}}

                      <label class="label text-black">
                        {{cardObj.detail}}
                      </label></label> </label>

                </div>

              </div> <br>
            </div>
          </div>
        </div>
        <div class=" mt-4 tex-center">
          <p class=" fw-bold   tex-center mt-3 ">Team Was ably Supported by technical hands in safal kondawar, kunal chidarwar
            and others</p>
          <p class="h2 mt-4 " style="color: rgb(255, 162, 0); font-weight: 700;">Team is gratly indebted to</p>
          <p class="fw-bold ">AVSP Team</p>
        </div>
        <br>
      </div>
    </div>

    <!-- <div class="h3 font-weight-bold">How it Works</div>

    <div class="row mt-3 ">
      <div class="col-12 ">
        <div class="row scrolling-container  d-flex justify-content-center">
          <div class="col-10 section-container   d-flex justify-content-between">
            <div class="container-box d-flex text-center flex-column justify-content-center align-items-center">
              <div class="circle green text-black mr-5 h4">01</div>
              <div class="line half-line"></div>
              <div class="section-name text-danger font-weight-bold ">Create Your Profile</div>
              <div class="section-name">just fill basic details & access the huge database of bride/groom from us</div>
            </div>
            <div class="container-box d-flex text-center flex-column justify-content-center align-items-center">
              <div class="circle green text-black mr-5 h4">02</div>
              <div class="line half-line"></div>
              <div class="section-name text-danger font-weight-bold ">Set Partner Prefrance</div>
              <div class="section-name">set your partners prefrance & let's match your requirement with others</div>
            </div>
            <div class="container-box d-flex text-center flex-column justify-content-center align-items-center">
              <div class="circle green text-black mr-5 h4">03</div>
              <div class="line half-line"></div>
              <div class="section-name text-danger font-weight-bold">Choose Mediator</div>
              <div class="section-name">Choose mediator as your prefrance <br><br></div>
            </div>
            <div class="container-box d-flex text-center flex-column justify-content-center align-items-center">
              <div class="circle green text-black mr-5 h4">04</div>
              <div class="line half-line "></div>
              <div class="section-name text-danger font-weight-bold">Recive Matching Profiles</div>
              <div class="section-name">send/recive intrest to suitable profile and connect<br><br> </div>
            </div>
            <div class="container-box d-flex text-center flex-column justify-content-center align-items-center">
              <div class="circle green text-black mr-5 h4 ">05</div>
              <div class="line " style="color: white;"></div>
              <div class="section-name text-danger font-weight-bold  ">Send/Recive Intrest & Calls</div>
              <div class="section-name">send/recive intrest to suitable profile and connect <br><br></div>
            </div>

          </div>

        </div>
      </div>


    </div>

  -->
<div  style="">
  <div class=" mt-5 "><h3 class="font-weight-bold">How it Works</h3></div>

    <div class="mt-5 how-it-works2" style="overflow-x: auto; ">
      <div id="wrapper1 r" style="min-width: 1250px;">
        <div class=" d-flex justify-content-center p-3" >
          <div>
        <div class="row d-flex justify-content-center font-weight-bold" style="width: 1250px;">
          <div class="cir text-black mr-0 pt-5 h2 ">01</div>
          <div class="line-bottom"></div>

          <div class="cir text-black mr-0 pt-5 h2">02 </div>
          <div class="line-top "></div>
          <div class="cir text-black mr-0 pt-5 h2">03</div>
          <div class="line-bottom"></div>
          <div class="cir text-black mr-0 pt-5 h2">04</div>
          <div class="line-top"></div>
          <div class="cir text-black mr-0 pt-5 h2">05</div>
        </div>
          <div class=" row" style="width: 1250px;">
            <div class="col below-text1" ><span class="text-danger font-weight-bold ">
                Create Your<br> Profile</span><br><span class="mt-1 pr-4 ">just fill basic details & access the huge
                database of bride/groom from us</span></div>
            <div class="col below-text"><span class="text-danger  font-weight-bold">
                Set Partner<br> Prefrance</span><br><span>set your partners prefrance & let's match your requirement
                with others</span></div>
            <div class="col below-text"><span class="text-danger font-weight-bold">Choose<br> Mediator</span><br>
              <span>Choose mediator as your prefrance</span>
            </div>
            <div class="col  below-text"><span class="text-danger font-weight-bold ">Recive Matching<br> Profiles</span><br>
              <span>send/recive intrest to suitable profile and connect</span>
            </div>
            <div class="col  below-text" ><span class="text-danger font-weight-bold">Send/Recive<br>
                Intrest & Calls</span>
              <br><span>send/recive intrest to suitable profile and connect</span>
            </div>
          </div>
        </div>
      </div>

      </div>

    </div>
  </div>

 
    <!-- <div class="text-left ">

      <div class=" pl-5 pr-5" style="box-shadow: none;">
        <div class="row ">
          <div class="col-lg-6 mt-2">
            <div class="p-3 border ">
              <div class="">
                <div class="d-flex justify-content-between align-items-center ">
                  <div class="d-flex align-items-center ">
                    <div
                      style="background-image: url('https://mdbcdn.b-cdn.net/img/new/avatars/9.webp'); background-size: cover; width: 50px; height: 50px; border-radius: 50%; display: inline-block;">
                    </div>

                    <div>
                      <h3 class=" pl-2 m-0" style="font-weight: 900;"> Shane Gonzales</h3>
                      <p class="pl-2 m-0 ">Bride</p>
                    </div>


                  </div>
                  <div class="d-flex justify-content-end align-items-end ">
                    <i class="fa-solid fa-quote-right fa-2x" style="color: #ffc7f0; font-size: 55px;"></i>
                  </div>
                </div>


                <p class="font-weight-bold mt-2" style="font-size: 13px;">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.</p>

              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-2">
            <div class="p-3 border ">
              <div class="">
                <div class="d-flex justify-content-between align-items-center ">
                  <div class="d-flex align-items-center ">
                    <div
                      style="background-image: url('https://mdbcdn.b-cdn.net/img/new/avatars/9.webp'); background-size: cover; width: 50px; height: 50px; border-radius: 50%; display: inline-block;">
                    </div>

                    <div>
                      <h3 class=" pl-2 m-0" style="font-weight: 900;"> Shane Gonzales</h3>
                      <p class="pl-2 m-0 ">Bride</p>
                    </div>


                  </div>
                  <div class="d-flex justify-content-end align-items-end ">
                    <i class="fa-solid fa-quote-right fa-2x" style="color: #ffc7f0; font-size: 55px;"></i>
                  </div>
                </div>


                <p class="font-weight-bold mt-2" style="font-size: 13px;">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div
    class="justify-content-between container"
    style="box-shadow: none; margin-top: 5rem; margin-bottom: 3rem"
  >
    <h3>Testimonial</h3>
  </div>

  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="container carousel-inner no-padding">
      <div class="carousel-item active">
        <div class="col-lg-6 mt-2 d-inline-block">
          <div class="p-4 border shadow-sm">
            <div class="">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <div
                    style="
                      background-image: url('https://mdbcdn.b-cdn.net/img/new/avatars/9.webp');
                      background-size: cover;
                      width: 75px;
                      height: 75px;
                      border-radius: 50%;
                      display: inline-block;
                    "
                  ></div>

                  <div>
                    <h4 class="pl-2 m-0" style="font-weight: 600">
                      Shane Gonzales
                    </h4>
                    <p class="pl-2 m-0 text-start">Bride</p>
                  </div>
                </div>
                <div class="d-flex justify-content-end align-items-end">
                  <!-- <i
                    class="fa-solid fa-quote-right fa-2x"
                    style="color: #ffc7f0; font-size: 55px"
                  ></i> -->
                  <img
                    class="img-fluid"
                    src="../../../../assets/clip-art/comma.png"
                    style="width: 4rem"
                    alt=""
                  />
                </div>
              </div>

              <p
                class="mt-2 text-start"
                style="font-size: 15px; font-weight: 500"
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-2 d-inline-block mobile-hide">
          <div class="p-4 border shadow-sm">
            <div class="">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <div
                    style="
                      background-image: url('https://mdbcdn.b-cdn.net/img/new/avatars/9.webp');
                      background-size: cover;
                      width: 75px;
                      height: 75px;
                      border-radius: 50%;
                      display: inline-block;
                    "
                  ></div>

                  <div>
                    <h4 class="pl-2 m-0" style="font-weight: 600">
                      Shane Gonzales
                    </h4>
                    <p class="pl-2 m-0 text-start">Bride</p>
                  </div>
                </div>
                <div class="d-flex justify-content-end align-items-end">
                  <!-- <i
                    class="fa-solid fa-quote-right fa-2x"
                    style="color: #ffc7f0; font-size: 55px"
                  ></i> -->
                  <img
                    class="img-fluid"
                    src="../../../../assets/clip-art/comma.png"
                    style="width: 4rem"
                    alt=""
                  />
                </div>
              </div>

              <p
                class="mt-2 text-start"
                style="font-size: 15px; font-weight: 500"
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-lg-6 mt-2 d-inline-block">
          <div class="p-4 border shadow-sm">
            <div class="">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <div
                    style="
                      background-image: url('https://mdbcdn.b-cdn.net/img/new/avatars/9.webp');
                      background-size: cover;
                      width: 75px;
                      height: 75px;
                      border-radius: 50%;
                      display: inline-block;
                    "
                  ></div>

                  <div>
                    <h4 class="pl-2 m-0" style="font-weight: 600">
                      Shane Gonzales
                    </h4>
                    <p class="pl-2 m-0 text-start">Bride</p>
                  </div>
                </div>
                <div class="d-flex justify-content-end align-items-end">
                  <!-- <i
                    class="fa-solid fa-quote-right fa-2x"
                    style="color: #ffc7f0; font-size: 55px"
                  ></i> -->
                  <img
                    class="img-fluid"
                    src="../../../../assets/clip-art/comma.png"
                    style="width: 4rem"
                    alt=""
                  />
                </div>
              </div>

              <p
                class="mt-2 text-start"
                style="font-size: 15px; font-weight: 500"
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-2 d-inline-block mobile-hide">
          <div class="p-4 border shadow-sm">
            <div class="">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <div
                    style="
                      background-image: url('https://mdbcdn.b-cdn.net/img/new/avatars/9.webp');
                      background-size: cover;
                      width: 75px;
                      height: 75px;
                      border-radius: 50%;
                      display: inline-block;
                    "
                  ></div>

                  <div>
                    <h4 class="pl-2 m-0" style="font-weight: 600">
                      Shane Gonzales
                    </h4>
                    <p class="pl-2 m-0 text-start">Bride</p>
                  </div>
                </div>
                <div class="d-flex justify-content-end align-items-end">
                  <!-- <i
                    class="fa-solid fa-quote-right fa-2x"
                    style="color: #ffc7f0; font-size: 55px"
                  ></i> -->
                  <img
                    class="img-fluid"
                    src="../../../../assets/clip-art/comma.png"
                    style="width: 4rem"
                    alt=""
                  />
                </div>
              </div>

              <p
                class="mt-2 text-start"
                style="font-size: 15px; font-weight: 500"
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-lg-6 mt-2 d-inline-block">
          <div class="p-4 border shadow-sm">
            <div class="">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <div
                    style="
                      background-image: url('https://mdbcdn.b-cdn.net/img/new/avatars/9.webp');
                      background-size: cover;
                      width: 75px;
                      height: 75px;
                      border-radius: 50%;
                      display: inline-block;
                    "
                  ></div>

                  <div>
                    <h4 class="pl-2 m-0" style="font-weight: 600">
                      Shane Gonzales
                    </h4>
                    <p class="pl-2 m-0 text-start">Bride</p>
                  </div>
                </div>
                <div class="d-flex justify-content-end align-items-end">
                  <!-- <i
                    class="fa-solid fa-quote-right fa-2x"
                    style="color: #ffc7f0; font-size: 55px"
                  ></i> -->
                  <img
                    class="img-fluid"
                    src="../../../../assets/clip-art/comma.png"
                    style="width: 4rem"
                    alt=""
                  />
                </div>
              </div>

              <p
                class="mt-2 text-start"
                style="font-size: 15px; font-weight: 500"
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-2 d-inline-block mobile-hide">
          <div class="p-4 border shadow-sm">
            <div class="">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <div
                    style="
                      background-image: url('https://mdbcdn.b-cdn.net/img/new/avatars/9.webp');
                      background-size: cover;
                      width: 75px;
                      height: 75px;
                      border-radius: 50%;
                      display: inline-block;
                    "
                  ></div>

                  <div>
                    <h4 class="pl-2 m-0" style="font-weight: 600">
                      Shane Gonzales
                    </h4>
                    <p class="pl-2 m-0 text-start">Bride</p>
                  </div>
                </div>
                <div class="d-flex justify-content-end align-items-end">
                  <!-- <i
                    class="fa-solid fa-quote-right fa-2x"
                    style="color: #ffc7f0; font-size: 55px"
                  ></i> -->
                  <img
                    class="img-fluid"
                    src="../../../../assets/clip-art/comma.png"
                    style="width: 4rem"
                    alt=""
                  />
                </div>
              </div>

              <p
                class="mt-2 text-start"
                style="font-size: 15px; font-weight: 500"
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>


    <div class="bg " style="background-color: #f6f4f4;">
      <div class="text-center  pt-4 mt-5 mb-4" style="background-color: #f6f4f4;"><h3>FAQ's</h3></div>

      <div class="" style="background-color: #f6f4f4;">
        <div class='faq text text-left font-weight-bold ml-4 mr-4 ml-lg-5 mr-lg-5 '
          style="border: none; background-color: #f6f4f4;">
          <input id='faq-a' type='checkbox'>
          <label for='faq-a' class="bg-white " style="border-radius: 10px;">
            <div class='faq-arrow'></div>
            <p class="faq-heading m-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.</p>

            <p class="faq-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.</p>
          </label><br><br>
          <input id='faq-b' type='checkbox'>
          <label for='faq-b' class="bg-white " style="border-radius: 10px;">
            <div class='faq-arrow'></div>
            <p class="faq-heading m-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.</p>

            <p class="faq-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.</p>
          </label><br><br>
          <input id='faq-c' type='checkbox'>
          <label for='faq-c' class="bg-white " style="border-radius: 10px;">
            <div class='faq-arrow'></div>
            <p class="faq-heading m-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.</p>

            <p class="faq-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.</p>
          </label><br><br>

        </div>
      </div>
      <button class="btn btn-success mb-4" style="width: 150px;">View All</button>
    </div>




    <div class="register text-center pt-2 pb-5  bg-danger ">
      <p class="h3 mt-5 text-white">Your search for perfect match ends here!</p>
      <button type="button" class="btn btn-light text-danger mt-2" routerLink="/registration">Register Now</button>
    </div>
  </div>

</div>
