
#Option-1,#Option-2,#Option-3,#Option-4,#Option-6{
    display: none;
}


@media screen and (max-width:991px){
    .pointer-div{
        display: none !important;
    }
    .vr{
        display: none !important;
    }
}

@media screen and (max-width:990px) {
    .payment-option-row{
        padding-top:3rem!important;
    }
}