<div style="width: 100%">
    <img
      src="../../../../assets/img/HomePageBanner.png"
      alt=""
      style="max-width: 100%; background-image: contain;margin-bottom: 1rem;"
    />
  </div>
  <div class="text-center pb-5 pt-5 " style="background-color: rgb(255, 222, 227)">
    <h3><b>Select By Profession</b></h3>
    <p routerLink="/home">Home>><b>Select by Profession</b></p>
  </div> 
  <div class="profile pl-5 pr-5" style="margin-top:50px;">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-6" *ngFor="let cardObj of cards2">
        <div class=" "   
         style="box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);">
          <div class=" d-flex justify-content-start pl-3 pr-3 pt-3 ">
            <i class="fa-solid fa-user-doctor fa-4x" style="color: #ff3f3f;"></i>
          </div>
          <div class="card-text text-left pb-3 text-black ">
            <label class="label font-weight-bold">
       
                {{cardObj.work}}<br>
              <label class="label font-weight-bold text-muted">
                {{cardObj.result}}
              </label></label>
          </div>

        </div> <br>
      </div>
        <!-- <div class="col-md-2 " *ngFor="let cardObj of cards2">
            <div class="card-sl " routerLink="/search-profession">
                <div class="card-image d-flex justify-content-start pl-4  ">
                  <i class="fa-solid fa-user-doctor fa-4x" style="color: #db0000;"></i>
                 </div>
                <div class="card-text text-left pb-5 text-black ">
                  <label class="label font-weight-bold">
                  <b>
                  {{cardObj.work}}</b><br>
                  <label class="label font-weight-bold text-muted">
                     {{cardObj.result}}
                </label></label></div>
              
            </div> <br>
        </div> -->
     
    </div>
     
      </div>
    
      <div class="profile1 ml-3 mr-3" style="margin-top:50px;">
        <div class="row">
            <div class="col-md-2 " style="width: 33%;" *ngFor="let cardObj of cards2">
                <div class="card-sl "  routerLink="/search-profession" >
                    <div class="card-image d-flex justify-content-start pl-2  ">
                      <i class="fa-solid fa-user-doctor fa-4x" style="color: #db0000;"></i>
                     </div>
                    <div class="card-text text-left pb-5 text-black ">
                      <label class="label font-weight-bold">
                      <b>
                      {{cardObj.work}}</b><br>
                      <label class="label font-weight-bold text-muted">
                         {{cardObj.result}}
                    </label></label></div>
                  
                </div> <br>
            </div>
          </div>
         
          </div>
        <div class="text-center ">
          <button class=" btn btn-success  col-1 mb-5 " style="background-color:rgb(48, 129, 30);min-width: 10rem;">Search</button>
        </div>