<div style="width:100%;">
  <img src="../../../../assets/img/HomePageBanner.png" alt="" style="max-width:100%;background-image: contain;">
</div>
<div class="text-center pb-5 pt-5 mt-0 mt-sm-4 pink-color-head">
    <h3 class="main-menu">FAQ's</h3>
    <p>Home >> <span class="sub-menu">FAQ's</span></p>
</div>

<div class="container">
  <div class="row pt-4" style="border-bottom: 1px solid black">
    <p>
      Anuband.com is a free matrimonial website for Arya Vaishya Komti Community
      at large.
    </p>
    <p class="txt-clr" ><span class="link" routerLink="/faq">Registration Process</span></p>
    <p class="txt-clr" ><span class="link" routerLink="/faq">Premium Membership</span></p>
    <p class="txt-clr" ><span class="link" routerLink="/faq">Account Deletion</span></p>
    <p class="txt-clr" ><span class="link" routerLink="/faq">Contact us</span></p>
  </div>
</div>
<div class="container">
  <div class="row pt-4">
    <p class="txt-clr">1. What is the registration process on anubandh.com?</p>
    <p class="mb-0">
      A. First <span class="txt-clr link" routerLink="/faq">Signup</span>. This will create your userid and password.
    </p>
    <p class="mb-0">
      B. Then login to anubandh.com and you will be redirected to a Registatoin
      Form. Submit this registration form filling details about your address and
      partner requirement.
    </p>
    <p class="mb-0">
      C. Then you will be asked to upload your photo. This completes the
      registration process.
    </p>
    <p class="mb-0">
      D. You will receive an activation mail from Anubandh Admin in next 48
      hours after validating your information.
    </p>
    <p class="mb-0">
      Then your name will start appearing in the anubandh member list and you
      will be able to view complete details of other profiles.
    </p>
  </div>
  <div class="pt-4">
    <p class="txt-clr">2. How to register for Anubandh PREMIUM MEMBERSHIP?</p>
    <p>Anubandh Premium membership charges are Rs.1500.00 for 6 months.</p>
    <p class="mb-0">With Anubandh premium membership.</p>
    <p class="mb-0">
      a) Your name will be displayed on the website front prage all the time.
    </p>
    <p class="mb-0">
      b) You will receive weekly from anubandh listing newly added users.
    </p>
    <p class="mb-0">
      c) Your name will be prioritised in the matching filter search
    </p>
    <p class="mb-0">Below are Bank account details</p>
    <div class="row" >
      <div class="col-lg-6 p-4">
        <div class="text-center " style="font-weight: 900">
          <h5 style="font-weight: 700;">Below are Bank account details</h5>
          <div style="padding-top: 2rem;">
            <p class="bank-details-text">Bank: IndusInd Bank</p>
            <p class="bank-details-text">Account #: 201 000 697 205</p>
            <p class="bank-details-text">Beneficiary Name: ANUBANDH</p>
            <p class="bank-details-text">IFSC: INDB0000002</p>
            <p class="bank-details-text">Branch: 0002-Pune</p>
            <p class="bank-details-text">Type of Account: Current Account</p>
          </div>

        </div>
      </div>
      <div class="col-lg-6 p-4 text-center">
        <h5 style="font-weight: 700;" >Anubandh Premium membership charges are Rs.</h5>
        <img src="../../../../assets/img/anuband-membership-qr-code.png" alt="Anubandh Premium membership qr" style="padding-top:10px;width:25%;">
      </div>
      <p class="mt-3">
        Please send your anubandh id and bank transaction details to us at
        info@anubandh.com. Once verified, your profile will be activated for
        premium users in 48 hours.
      </p>
    </div>
  </div>
  <div class="row">
    <p class="txt-clr">3. How to remove my profile from anubandh.com member list?</p>
    <p>
      Login to your account and click on "Change My Status" link available on the Welcome section of the home page and then select "Engaged" or "Delete Profile" option.
    </p>
  </div>
  <div class="row mb-5">
    <p class="txt-clr">4. Contact US</p>
    <p>
      info@anubandh.com
    </p>
    <p>
      Phone: +91 930 955 4954 (9 AM - 6 PM India time)
    </p>
  </div>
</div>
