
<div class="vh-100 d-flex justify-content-center align-items-center" style="overflow-x: hidden;">
    <div>
        <div class="mb-4 text-center">
           
        </div>
        <div class="text-center " >
          
            <div class="card"  >
                <div class="card-body">
                  <h5 class="card-title font-weight-bold ">Thank You For Registration</h5>
                  <h6 class="card-subtitle mt-2 ">Welcome To Anubandh Family,</h6>
                  <p class="card-text">You are Now Registered With Us</p>
                  <button class="btn btn-primary bg-danger text-white col-4" routerLink="/login" >Log in</button><br>
                  <button class="btn btn-primary mt-2 col-5 bg-white text-black" routerLink="/premium-membership" >View Premium Membership</button>
                </div>
              </div>
        </div>
    </div>
