<div class="container-fluid">

    <div class="row only-mobile">
        <div class="col-12 ">
            <div class="row d-flex justify-content-between">
                <div class="col-2 " style="min-width: 200px;">
                    <div class="">
                        <a routerLink="/photo-and-video" style="text-decoration: none; color: black;">
                            <h6 style="padding: 10px 2px;"> <i class="fa fa-chevron-left"></i> Astro</h6>
                        </a>

                    </div>
                </div>
                <div class="col-2" style="min-width: 120px;">
                    <button class="clear-button " style=" padding: 10px 2px; font-size: 14px;" type="reset"
                        (click)="resetForm()">Clear All</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row sticky-div">
        <div class="col-12 ">
            <div class="row scrolling-container  d-flex justify-content-center">
                <div class="col-11 section-container  d-flex justify-content-between">
                    <div class="container-box d-flex flex-column justify-content-center align-items-center">
                        <div class="circle green">1</div>
                        <div class="line half-line"></div>
                        <div class="section-name">Personal Details</div>
                    </div>
                    <div class="container-box d-flex flex-column justify-content-center align-items-center">
                        <div class="circle green">2</div>
                        <div class="line full-line"></div>
                        <div class="section-name">Photo & Video</div>
                    </div>
                    <div class="container-box d-flex flex-column justify-content-center align-items-center">
                        <div class="circle green">3</div>
                        <div class="line full-line"></div>
                        <div class="section-name">Astro</div>
                    </div>
                    <div class=" container-box d-flex flex-column justify-content-center align-items-center">
                        <div class="circle ">4</div>
                        <div class="line full-line"></div>
                        <div class="section-name">Family Details</div>
                    </div>
                    <div class="container-box d-flex flex-column justify-content-center align-items-center">
                        <div class="circle ">5</div>
                        <div class="line full-line"></div>
                        <div class="section-name">Mediators</div>
                    </div>
                    <div class="container-box d-flex flex-column justify-content-center align-items-center">
                        <div class="circle ">6</div>
                        <div class="line full-line"></div>
                        <div class="section-name">Education</div>
                    </div>
                    <div class="container-box d-flex flex-column justify-content-center align-items-center">
                        <div class="circle ">7</div>
                        <div class="line  full-line"></div>
                        <div class="section-name">Occupation</div>
                    </div>
                    <div class="container-box d-flex flex-column justify-content-center align-items-center">
                        <div class="circle ">8</div>
                        <div class="only-mobile line  full-line"></div>
                        <div class="only-desktop line half-line2"></div>
                        <div class="section-name">Address</div>
                    </div>
                    <div
                        class="only-mobile  container-box d-flex flex-column justify-content-center align-items-center">
                        <div class="circle ">9</div>
                        <div class="line  full-line"></div>
                        <div class="section-name">Partner's Expectations</div>
                    </div>
                    <div class="only-mobile container-box d-flex flex-column justify-content-center align-items-center">
                        <div class="circle ">10</div>
                        <div class="line  full-line"></div>
                        <div class="section-name">Upload Document</div>
                    </div>
                    <div class="only-mobile container-box d-flex flex-column justify-content-center align-items-center">
                        <div class="circle ">11</div>
                        <div class="line half-line2"></div>
                        <div class="section-name">About him</div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <form [formGroup]="myForm" (ngSubmit)="submitForm()">
        <div class="row d-flex justify-content-center" style="margin-bottom: 5rem;">
          <div class="col-11">
            <div class="row">
              <div class="col-md-4 input-div">
                <label for="birthName">Birth Name</label>
                <input type="text" class="form-control" id="birthName" name="birthName" formControlName="birthName"
                  placeholder="Enter Birth Name" required>
                <div *ngIf="myForm?.get('birthName')?.hasError('required') && myForm?.get('birthName')?.touched"
                  class="error-msg">
                  Please enter valid details.
                </div>
              </div>
      
              <div class="col-md-4 input-div">
                <label for="birthPlace">Birth Place</label>
                <input type="text" class="form-control" id="birthPlace" name="birthPlace" formControlName="birthPlace"
                  placeholder="Enter Birth Place" required>
                <div *ngIf="myForm?.get('birthPlace')?.hasError('required') && myForm?.get('birthPlace')?.touched"
                  class="error-msg">
                  Please enter valid details.
                </div>
              </div>
      
              <div class="col-md-4 input-div">
                <label for="birthTime">Birth Time</label>
                <div class="row d-flex">
                    <div class="col-12 d-flex justify-content-between gap-2">
                        <div class="col-8">  <input type="text" class="form-control" id="birthTime" name="birthTime" formControlName="birthTime"
                            placeholder="Enter Birth Time" required></div>
                        <div class="col-3"><select class="form-select" formControlName="ampm">
                            <option value="am">AM</option>
                            <option value="pm">PM</option>
                          </select></div>
                    </div>
                  
                </div>
                <div *ngIf="myForm?.get('birthTime')?.hasError('required') && myForm?.get('birthTime')?.touched"
                  class="error-msg">
                  Please enter valid details.
                </div>
              </div>
            </div>
          </div>
        </div>
      






        <div class="row">
            <div class="col-12 div d-flex justify-content-center">
                <div class="col-11 button-container d-flex justify-content-between">
                    <div class="only-desktop clear-alldiv">
                        <button #outsideButton class="clear-button " type="reset">Clear All</button>
                    </div>
                    <div class="b-buttons d-flex justify-content-between gap-2">
                        <div class="only-desktop previous-buttondiv d-flex align-items-center">
                            <button class="previous-button btn btn-outline-danger" (click)="previous()">Previous</button>
                        </div>
                        <div class="continue-buttondiv d-flex align-items-center">
                            <button class="continue-button btn btn-danger btn-block" type="submit">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</div>