
<div class="vh-100 d-flex justify-content-center align-items-center" style="overflow-x: hidden;">
    <div>
        <div class="mb-4 text-center">
           
        </div>
        <div class="text-center col-6 " >
        
        
        
            <div class="card"  >
                <i class="fa-regular fa-circle-xmark text-right fa-xl " style="color: #FE6609;padding-right: 0px;background-color: white;" routerLink="/profile-others">
                
                </i>                
                <div class="card-body">
                  <h5 class="card-title font-weight-bold ">Registration Needed</h5>
                  <h6 class="card-subtitle mt-2 ">Please register with us to view details</h6>
                  <button class="btn btn-primary bg-danger text-white col-4 mt-4" style="font-size: 12px;" routerLink="/registration" >Register Now</button><br>
            
                </div>
              </div>
        </div>
    </div>
